.search-box-wrapper{

}

.user-search-box-item{

}

.user-search-box-item .avatar{
    width: 54px;
    height: 54px;
}

.search-back-button{
    width: 40px;
    height: 40px;
}

.mobile-search-filter .card{
    border-left:none!important;
    border-right:none!important;
    border-top:none!important;
    border-radius: 0px!important;
}
